# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
# dbt
dbt-core>=1.5.0
dbt-duckdb>=1.5.0

# # MinIO/S3
# minio>=7.0.0
# boto3>=1.26.0
# botocore>=1.29.0

loguru>=0.7.3
minio>=7.2.17